.homeContainer {
  padding: 2rem;
  width: 100%;
}

.homeHeader {
  text-align: center;
  margin-bottom: 2rem;
}

.homeTitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: #f9fafb;
  margin-bottom: 0.5rem;
}

.homeSubtitle {
  font-size: 1.1rem;
  color: #d1d5db;
}

.loadingText,
.noAlbums {
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  color: #aaa;
}
